.linkVis{
    visibility: hidden;
    position: absolute;
}

.inputsBT{
    display: flex;
    flex-flow: row wrap;
    width: 80vw;
    justify-content: space-around;
    align-items: center;
}
.tabla tr td{
    justify-items: center;
    border: solid 1px black;
    height: 4vh;
    width: 15vh;
    text-align: center;
}
.tabla{
    text-align: center;
    margin-left: 15%;
 }
.tabla th{
   text-align: center;
}
.dropdown-item3{
    text-decoration: none;
    color: white;
    font-size: 16px;
    background-color: rgb(0, 2, 0);
}
.dropdown-itemPL, .dropdown-itemFR, .dropdown-itemKM, .dropdown-item, .dropdown-item2{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.dropdown-menu{
    width: 25vw;
}
.infoP5 td{
    font-size: 1vw;
    }
#tableP6{
    width: 70vw;
    font-size: 1.3vw;
}
#tableP6 td{
    width: fit-content;
    font-size: 1vw;
}
#tableP2{
    width: 70vw;
    font-size: 1.3vw;
}
#tableP2 td{
    width: fit-content;
    font-size: 1vw;
}
#tableP{
    width: 70vw;
    font-size: 1.3vw;
}
#tableP td{
    width: fit-content;
    font-size: 1vw;
}
.detailP7{
    color: red;
    text-align: center;
}
.tableCH tr{
    display: grid;
    justify-items: center;
    width: 180vh;
    text-align: justify;
}
.tableCH{
    visibility: hidden;

}
#tablaPresentismo{
    visibility: hidden;
    margin-left: 1vh;

}
.infoP9{
    border: black solid;
}
.fechaBT{
    width: 8vw;
}


